<div class='lead'>

<h2>Here are the Shoe Brands in: <%= @store.name %></h2>
<br>
  <ul>
   <%  if @store.brands.any?  %>
   <% @store.brands.each do |brand| %>
    <li><a href="/brands/<%= brand.id %>"><%= brand.description %></a></li>
  </ul> 
   <% end %>
   <% else %>
   <p><h4> There are no brands of shoes yet in this store</h4></p>
   <% end %>
 
</div>

<br>
<div class='form-group'>
<h2> Add a Brand to This Store:</h2>
    <form action='/brandadd/' method='post'>

      <input name='store_id' type='hidden' value=<%= @store.id %>>

      <label for='description'></label>

      <input id= 'description' name='description' type='text' placeholder='add new brand here' required="true">
   
      <button type='submit' class=' btn btn-info'>Add a Brand</button>
 
    </form>
</div>

<br>
<br>
<br>
<br>

<div class='form-group'>

<h2> Rename This Store</h2>
  <form action='/stores/<%= @store.id %>' method='post'>
      <input name='_method' type='hidden' value='patch'>

      <label for='name'></label>
      <input id='name' name='name' type='text' placeholder='rename this store here' required="true">

      <button type='submit' class=' btn btn-info'> Update Store Name: </button>

    </form>
</div>
<br>
<br>
<br>
<br>

<div class="form-group">
  <h2> Delete This Store:</h2>

    <form action='/' method='post'>
      <input name='_method' type='hidden' value='delete'>
      <input id='id' name='id' type='hidden' value='<%= @store.id %>'>

      <button type="submit" class= ' btn btn-danger'>Delete Store:</button>
    </form>
</div>
<br>
<br>

<a href="/"><h2>Return Home</h2></a>